{% extends 'navbar.html' %}
{% load static %}
{% block content %}
	<p style="text-align:center">
			Hello folks, I am Rohit Raut. I am a graduate student at CSU Chico. My major is Computer Science. <br>
			I will be graduating in the month of May 2023. Thank You.<br>
			<div>
			  <center><img src="{%static 'img/rohit.jpg'%}" style="height:400px;width:400px;" class="img-fluid " /></center>
		  	</div>
		  <br>
	</p>
	<br>
  	<br>
	<p style="text-align:center">
		-----------------------------------------------------------------------------------------------------------------------------<br>
		Hello , I am Manavi Ghorpade. I am a graduate student at CSU Chico. I am majoring in Computer Science. <br>
		I will be graduating in the month of May 2023. <br>
		<div>
			<center><img src="{%static 'img/manavi.jpg'%}" style="height:400px;width:400px;" class="img-fluid" /></center>
		</div>
		<br>
	</p>

{% endblock %}
